{% extends "base.html" %}

{% block announce %}
  <div class="construction-notice">
    <!-- Icon for visual appeal - Correct SVG include method -->
    <span class="twemoji">
      {% include ".icons/fontawesome/solid/tools.svg" %}
    </span>
    <!-- The message -->
    <p><strong>  האתר בבנייה:</strong> אנו עובדים כעת על הוספת כלים ותכנים חדשים. תודה על הסבלנות!</p>
    <!-- The actual close button icon, linked to the input -->
</div>
{% endblock %}

{% block content %}
  {{ super() }}
  <div id="contact-form-popup-wrapper">
    <div class="contact-form-body">
      <button type="button" id="contact-close-btn" class="contact-close-btn" aria-label="Close">&times;</button>
      <h3 class="contact-form-title">צור קשר</h3>
      <form id="contact-form" novalidate>
        <input type="hidden" name="_captcha" value="true">
        <div class="contact-form-group">
          <label for="contact-email">מאת:</label>
          <input type="text" id="contact-email" name="email" placeholder="כתובת מייל  או מספר טלפון" required>
        </div>
        <div class="contact-form-group">
            <label for="contact-subject">נושא</label>
            <input type="text" id="contact-subject" name="_subject" required>
        </div>
        <div class="contact-form-group">
          <label for="contact-message">הבקשה שלך</label>
          <textarea id="contact-message" name="message" required></textarea>
        </div>
        <button id="contact-submit-btn" type="submit">שלח</button>
        <div id="contact-form-status"></div>
      </form>
    </div>
  </div>
<!-- Floating Action Button (FAB) to open the contact popup -->
<button type="button" id="fab-contact-button" class="fab-contact" aria-label="פתח טופס צור קשר">
  <span class="md-icon">
    {% include ".icons/material/email.svg" %}
  </span>
</button>
{% endblock %}